.menu-spacer {
  flex: 1 1 auto;
}
.nav-container {
  height: 100vh;
}
.toolbar-color {
  background: #fdfdc4;
  color: #9dd8f4 !important;
  font-weight: bold;
  font-size: 30px;
}
.font-link {
  color: #9dd8f4 !important;
  font-weight: bold;
  font-size: 15px;
}
